@font-face {
  font-family: 'FontAwesome';
  src: url("applab/fontawesome-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
<style>
#canvas {
    width: 720px;
    height: 1280px;
}
</style>
<canvas id="canvas"></canvas>
